{%extends "base.html" %}

{%block CSS%}
<style>
    .form {
        box-shadow: -3px -3px 10px 5px rgb(17, 61, 17);
        border: 1px solid rgb(188, 245, 188);

    }

    html {
        background-color: bisque;
    }

    .errorlist.nonfield {
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: left;

    }

    .form p{
        display: block;
       
    }
    .form input , button{
        display: block;
        margin: auto;
    }

</style>
{%endblock%}

{%block content%}


<div class="column is-one-quarter"></div>
<div class="column is-two-quarters has-text-centered">
<h1 class="title is-meduim">
    Add new password
</h1>

<div class="content form  has-text-dark has-background-success pt-5 is-medium">
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <div class="content">
        <button class="button submit  mb-5 is-dark ">
            Reset Now &nbsp;<mark>&#8594;</mark>
        </button>
    </div>
</form>

<div class="columns">
    <div class="column">
        <mark><a href="{%url 'dwitter:dashboard' %}">Back To Dashboard</a></mark>
    </div>
</div>

</div>
</div>



<div class="column is-one-quarter"></div>
{%endblock%}